sudo: true
language: cpp
compiler: gcc
dist: bionic

install: 
  - sudo apt update -qq
  # Boost
  - sudo apt install -qq libboost-all-dev
  # Qt5
  - sudo apt-get install -qq libqt5webkit5-dev qtdeclarative5-dev libqt5svg5*
  - export QMAKE=/usr/lib/x86_64-linux-gnu/qt5/bin/qmake
  # Codecov
  - sudo update-alternatives --install /usr/bin/gcov gcov /usr/bin/gcov-5 90
  - sudo pip install codecov
  # OCLint
  - ./install_oclint
  # Other prerequisites
  - ./download_other_githubs

# Start virtual X server, from https://docs.travis-ci.com/user/gui-and-headless-browsers/
before_script:
  - "export DISPLAY=:99.0"
  - "sh -e /etc/init.d/xvfb start"
  - sleep 3 # give xvfb some time to start

script: 
  # Console test
  - qmake -qt=qt5 PylosConsoleTest.pro
  - make debug  
  - ./PylosConsoleTest
  # Console
  - qmake -qt=qt5 PylosConsole.pro
  - make debug  
  - ./PylosConsole &
  # Desktop
  - qmake -qt=qt5 PylosDesktop.pro
  - make debug  
  - ./PylosDesktop &
  - sleep 10
  - sudo killall PylosDesktop
  # Desktop test
  - qmake -qt=qt5 TestPylosDesktop.pro
  - make debug  
  - ./TestPylosDesktop &
  - sleep 10
  - sudo killall TestPylosDesktop
  # Get code coverage
  - ./get_code_cov > /dev/null
  - codecov > /dev/null
  # Call OCLint
  - ./do_oclint

after_success:
  - bash <(curl -s https://codecov.io/bash)









